body {
  background: #e1ebdf;
}
.container {
  background: #8fc17f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80vh;
  margin-left: 15%;
  margin-right: auto;
  margin-top: 10vh;
  box-shadow: 0.5rem 0.5rem 5rem #6c8368;
}
.main-text {
  font-size: 7rem;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 3rem;
}
.second-text {
  font-size: 400%;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
}
